[Unit]
Description=Blacket Database Backup Service

[Service]
User=xotic
WorkingDirectory=/home/xotic/backup-receiver
ExecStart=/home/xotic/backup-receiver/backup.sh